<div id="ordersummary">
    <div id="innerbox">
      <h2 style="font-weight: lighter">Order Summary</h2>
      <table>
        <tr>
          <th> Title</th>
          <th> Quantity</th>
          <th> Price</th>
        </tr>
        <tr>
          <td> Black Hole Blues </td>
          <td> 1</td>
          <td> 19.99 USD</td>
        </tr>
        <tr>
          <td> The Selfie as Big as the Ritz</td>
          <td> 1</td>
          <td> 79.99 USD</td>
        </tr>
        <tr>
          <td> The Vacationers</td>
          <td> 1</td>
          <td> 42.00 USD</td>
        </tr>
        <tr>
          <td> Mrs. Death Misses Death</td>
          <td> 1</td>
          <td> 19.99 USD</td>
        </tr>
      </table>
      <br>
      <ul class="price-summary">
          <li class="merchandise-row">
                  <span class="merchandise-label" style="float:left;">Merchandise: </span>
                  <span class="merchandise-amount" style="float:right;">$22.98</span><br>
          </li>
          <li class="shipping-row">
                  <span class="shipping-label" style="float:left;">Shipping and Handling: </span>
                  <span class="shipping-amount" style="float:right;">$3.54</span><br>
          </li>
          <li class="tax-row">
              <span class="tax-label" style="float:left">Tax: </span>
              <span class="tax-amount" style="float:right">$1.42</span>
          </li>
      </ul>
      <br><hr>
      <h2 style="font-weight:lighter; float: left;">Order Total: </h2>
      <h2 style="font-weight:lighter; float: right;">$27.94 </h2>
    </div>
  </div>