<div id="orderConfirmation">
  <div id="innerbox">
    <h2 style="font-weight: lighter">Order Summary</h2>
    <table>
      <tr>
        <th> Title</th>
        <th> Quantity</th>
        <th> Price</th>
      </tr>
      {% for item in orderInfo %}
      <tr>
        <td>{{item[4]}} </td>
        <td>{{item[2]}}</td>
        <td>{{"%.2f" % (item[8] * item[2])}} USD</td>
      </tr>
      {% endfor %}
    </table>
    <br>
    <ul class="price-summary">
      <li class="merchandise-row">
        <span class="merchandise-label" style="float:left;">Merchandise: </span>
        <span class="merchandise-amount" style="float:right;">${{"%.2f" % total}}</span><br>
      </li>
      {% if promo_success == true %}
      <li class="merchandise-row">
        <span class="merchandise-label" style="float:left;">Promotion: </span>
        <span class="merchandise-amount" style="float:right;">-${{ "%.2f" % (total*promo_discount) }}</span><br>
      </li>
      {% endif %}
      <li class="shipping-row">
        <span class="shipping-label" style="float:left;">Shipping and Handling: </span>
        <span class="shipping-amount" style="float:right;">${{"%.2f" % shipping}}</span><br>
      </li>
      <li class="tax-row">
        <span class="tax-label" style="float:left">Tax: </span>
        <span class="tax-amount" style="float:right">${{"%.2f" % (total * 0.04)}}</span>
      </li>
    </ul>
    <br>
    <hr>
    <h2 style="font-weight:lighter; float: left;">Order Total: </h2>
    {% if promo_success == true %}
    <h2 style="font-weight:lighter; float: right;">${{"%.2f" % (total + (total * 0.04) + shipping - (total*promo_discount))}} </h2>
    {% else %}
    <h2 style="font-weight:lighter; float: right;">${{"%.2f" % (total + total * 0.04 + shipping)}}</h2>
    {% endif %}
  </div>
</div>
