<div id="admin-utilities" class="menu-bar">
  <ul class="nav-bar">
    <li><a href="{{ url_for('admin')}}"><img src="{{ url_for('static', filename='assets/icons/home.svg') }}">Dashboard</a></li>
    <li><a href="{{ url_for('manageBooks') }}"><img src="{{ url_for('static', filename='assets/icons/book.svg') }}">Manage Books</a></li>
    <li><a href="{{ url_for('manageUsers') }}"><img src="{{ url_for('static', filename='assets/icons/profile-badge.svg') }}">Manage Users</a></li>
    <li><a href="{{ url_for('managePromotions') }}"><img src="{{ url_for('static', filename='assets/icons/tag.svg') }}">Manage Promotions</a></li>
    <li><a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='assets/icons/exit.svg') }}">Logout</a></li>
  </ul>
</div>
