<div id="menu-bar" style="background-color:#c4c4c4; justify-content: center;">
  <ul id="nav-bar" style="width: 90%; margin-right: 5%; margin-left: 5%; display: flex; justify-content: space-between;">
    <li><a href="{{ url_for('manageBooks') }}">Manage Books</a></li>
    <li><a href="{{ url_for('manageUsers') }}">Manage Users</a></li>
    <li><a href="#">Manage Orders</a></li>
    <li><a href="{{ url_for('managePromotions') }}">Manage Promotions</a></li>
    <li><a href="#">Toggle User/Admin View</a></li>
  </ul>
</div>
