{% include "admin/manage_books.html" %}
<div class="popup-overlay">
  <form class="popup-panel">
    <h1 class="main-logo">Bookmarqué</h1>
    <h1>Book Entry</h1>

    <label>IBSN</label>
    <input type="text">
    <label>Book Title</label>
    <input type="text">
    <label>Author</label>
    <input type="text">
    <label>Subject</label>
    <input type="text">
    <label>Total Coppies</label>
    <input type="text">
    <span>Please fill out completley</span>

    <a class="button-gold" href="{{ url_for('manageBooks') }}">Continue</a>

  </form>
</div>
