{% extends "default_layout.html" %}
{% block content %}

<div>
  <table>
    <tr>
      <th>ID#</th>
      <th>Email</th>
      <th>Name</th>
      <th>Type</th>
      <th>Promo Subscription</th>
      <th>Status</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user[0] }}</td>
      <td>{{ user[1] }}</td>
      <td>{{ user[2] ~ " " ~ user[3] }}</td>
      <td>{{ user[5] }}</td>
      <td>
        {% if user[8] == "Active" %} ✓ {% else %} ✗ {% endif %}
      <td class="toggle-status">
      {% if user[4] == "Inactive" %} Unverified {% else %}
        <form action="/admin/manage-users" method="POST">
          <span>{{ user[4] }}</span>
          <input type="hidden" name="id" value="{{ user[0] }}">
          <input type="hidden" name="status" value="{{ user[4] }}">
          <button type="submit">
            <img class="toggle-arrow clickable" src="{{ url_for('static', filename='assets/icons/toggle-arrow.svg')}}">
          </button>
        </form>
      {% endif %}
      </td>
    </tr>

  {% endfor %}
  </table>
</div>

{% endblock %}
