{% extends "default_layout.html" %}
{% block content %}

<div style="margin: 3%; width:96%; display: flex; justify-content: flex-end; align-items: flex-end;">
  <label for="fname">Search:</label>
  <input type="text" id="fname" name="fname">
</div>

<div>
  <table>
    <tr>
      <th>ISBN</th>
      <th>Book Title</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>Publication Date</th>
      <th>Subject</th>
      <th>Price</th>
      <th>Copies</th>
      <th></th>
    </tr>
    {% for item in bookData %}
    <tr>
      <td>{{item[0]}}</td>
      <td>{{item[1]}}</td>
      <td>{{item[2]}}</td>
      <td>{{item[3]}}</td>
      <td>{{item[4]}}</td>
      <td>{{item[5]}}</td>
      <td>{{item[6]}}</td>
      <td>{{item[7]}}</td>
      <td><a href="{{ url_for('bookEntry') }}" style="padding: 0.5rem 0.1rem;"><button>Edit Book</button></a></td>
    </tr>
    {% endfor %}
    <tr>
      <form action="{{url_for('manageBooks')}}" method="POST">
      <td><input type="text" name="ISBN"></input></td>
      <td><input type="text" name="title"></input></td>
      <td><input type="text" name="author"></input></td>
      <td><input type="text" name="publisher"></input></td>
      <td><input type="date" name="pubDate"></input></td>
      <td><input type="text" name="subject"></input></td>
      <td><input type="number" step="0.01" name="price"></input></td>
      <td><input type="number" name="copies"></input></td>
      <td><input type="submit" value="Add Book"></input></td>
      </form>
    </tr>
  </table>
</div>
{% endblock %}
