{% extends "default_layout.html" %}
{% block content %}

<div style="margin: 3%; width:96%; display: flex; justify-content: flex-end; align-items: flex-end;">
  <label for="fname">Search:</label>
  <input type="text" id="fname" name="fname">
</div>

<div>
  <table>
    <tr>
      <th>userID</th>
      <th>userEmail</th>
      <th>userStatus</th>
      <th>userType</th>
      <th>userSubStatus</th>
      <th></th>
    </tr>
    <tr>
      <td>101</td>
      <td>janedoe@gmail.com</td>
      <td>Active</td>
      <td>Customer</td>
      <td>Active</td>
      <td><a class="button-blue" href="{{ url_for('userEntry') }}" style="padding: 0.5rem 0.1rem;">Edit User</a></td>
    </tr>
    <tr>
      <td>102</td>
      <td>johndoe@gmail.com</td>
      <td>Active</td>
      <td>Cusotmer</td>
      <td>Active</td>
      <td><a class="button-blue" href="{{ url_for('userEntry') }}" style="padding: 0.5rem 0.1rem;">Edit User</a></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><input></input></td>
      <td><input></input></td>
      <td><input></input></td>
      <td><input></input></td>
      <td><input></input></td>
      <td><a class="button-blue" href="{{ url_for('userEntry') }}" style="padding: 0.5rem 0.1rem;">New User</a></td>
    </tr>
  </table>
</div>
</table>-->
{% endblock %}
