{% extends "default_layout.html" %}
{% block content %}

<div>
  <table>
    <tr>
      <th>ID#</th>
      <th>Email</th>
      <th>Name</th>
      <th>Type</th>
      <th>Promo Subscription</th>
      <th>Status</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user.userID }}</td>
      <td>{{ user.userEmail }}</td>
      <td>{{ user.userFName ~ " " ~ user.userLName }}</td>
      <td>{{ user.userType }}</td>
      <td>
        {% if user.userSubStatus == "Active" %} ✓ {% else %} ✗ {% endif %}
      <td class="toggle-status">
      {% if user.userStatus == "Inactive" %} Unverified {% else %}
        <form action="/admin/manage-users" method="POST">
          <span>{{ user.userStatus }}</span>
          <input type="hidden" name="id" value="{{ user.userID }}">
          <input type="hidden" name="status" value="{{ user.userStatus }}">
          <button>
            <img class="toggle-arrow clickable" src="{{ url_for('static', filename='assets/icons/toggle-arrow.svg')}}">
          </button>
        </form>
      {% endif %}
      </td>
    </tr>

  {% endfor %}
  </table>
</div>

{% endblock %}
