{% include "index.html" %}

<div class="popup-overlay">
  <form class="popup-plane" action="/reset-password/{{ email_encrypted }}"
  method="POST" onsubmit='return validatePasswordChange()'>
    <h1 class="main-logo">Bookmarqué</h1>
    <h1>Reset Password</h1>
    <label>New Password</label>
    <input type="password" name="password" id="passwordReset">
    <label>Confirm Password</label>
    <input class="password-req" type="password" name="passConfirm" id="passConfirm">
    <div class="submit-options">
      <a href="{{ url_for('homepage') }}" class="button-grey" name="Cancel" type="submit">Cancel</a>
      <button id="reset-password-button" class="button-blue" name="Save" type="submit">Save</button>
    </div>
    <span>Note: Password must be at least 8 characters long and contain both letters and numbers.</span>
    <span id="password-match-error"></span>
  </form>
</div>
