:root {
  /* color pallete (plt) */
  --plt-blue: #15253B;
  --plt-gold: #F4CE92
  --plt-dark-blue: #1A1D24
  --plt-dark-gold: #B6622D

  /* font families */
  --serif: 'Crimson Text', serif;
  --sans-serif: 'Open Sans', sans-serif;
  --title: 'Bebas Neue', cursive;
}

body {
  font-family: 'Crimson Text', serif;
}
