<!doctype html>
<html>
  <head>
    <title>Bookmarqué</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <p><strong>Navigation:</strong> <a href="/">Home</a> <a href="mailto:contact@example.com">Contact me</a></p>
    {% block content %}{% endblock %}
    <p>&copy; 2021 Bookmarque</p>
  </body>
</html>
