<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Bookmarque Online Bookstore">
    <meta name="author" content="Team Eight">
    <title>Bookmarqué</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <header>
    <div id="main_logo">
      <img src="{{ url_for('static', filename='bookcase.svg') }}"/> Bookmarqué
    </div>

    <div id="nav_bar">
      <ul>
        <li><a>Featured</a></li>
        <li><a>The Classics</a></li>
        <li><a>Thrillers</a></li>
        <li><a>Science</a></li>
        <li><a>Esoteric</a></li>
        <li><a>Business</a></li>
        <li><a>Self-Help</a></li>
        <li><a>Non-Fiction</a></li>
        <li><a>Sci-Fi</a></li>
      </ul>
    </div>

    <form>
      <select>
        <option>All</option>
      </select>

      <input type="text">
      <input type="submit">
    </form>
  </header>

    {% block content %}{% endblock %}

  <footer>

  </footer>
</html>
