{% extends "user_layout.html" %}
{% block content %}
<div id="menu_bar" style="background-color:#c4c4c4;">
  <ul id="nav_bar" style="justify: center;">
    <li><a href="#">Manage Books</a></li>
    <li><a href="#">Manage Users</a></li>
    <li><a href="#">Manage Orders</a></li>
    <li><a href="#">Toggle User/Admin View</a></li>
  </ul>
</div>


<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Manage Books</h2>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Manage Users</h2>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2>Manage Orders</h2>
  </div>
</div>
{% endblock %}
