{% extends "user_layout.html" %}
{% block content %}

<img>
<div>
  <h1>The Vacationers</h1>
  <h3>Emma Straub</h3>
  <span>Penguin Publishing Group, 2014</span>
  <span>Featured, Novel, Domestic Fiction, Drama</span>
</div>

<p>
  For the Posts, a two-week trip to the Balearic island of Mallorca with their extended family and friends is a celebration: Franny and Jim are observing their thirty-fifth wedding anniversary, and their daughter, Sylvia, has graduated from high school. The sunlit island, its mountains and beaches, its tapas and tennis courts, also promise an escape from the tensions simmering at home in Manhattan. But all does not go according to plan: over the course of the vacation, secrets come to light, old and new humiliations are experienced, childhood rivalries resurface, and ancient wounds are exacerbated.
</p>

<div>
  <form>
    <input type="submit" value="Add to Cart">
    <input type="number" placeholder="1">
  </form>
  <h1>25.99 USD</h1>
  <span>In Stock</span>
</div>

{% endblock %}
