<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Bookmarque Online Bookstore">
    <meta name="author" content="Team Eight">
    <title>Bookmarqué</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.scss.css') }}" type="text/css"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/login_popup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/creditcard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
  </head>

  <body>
      <header>

        <div id="promo-bar">Receive 20% off at checkout when you use promo code: CS4050</div>

        <div class="menu-bar">
          <a id="title" href="{{ url_for('homepage') }}">
            <h1 class="main-logo">
              <img class="icon" src="{{ url_for('static', filename='assets/icons/bookcase.svg') }}"/>
              Bookmarqué
            </h1>
          </a>

          <ul class="nav-bar">
            <li><a href="#">Featured</a></li>
            <li><a href="#">The Classics</a></li>
            <li><a href="#">Thrillers</a></li>
            <li><a href="#">Science</a></li>
            <li><a href="#">Esoteric</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Self-Help</a></li>
            <li><a href="#">Non-Fiction</a></li>
            <li><a href="#">Sci-Fi</a></li>
          </ul>

          <form class="search-bar">
            <select>
              <option>All</option>
              <option>Other Optionz</option>
            </select>
            <input type="text">
            <button type="submit"><img src="{{ url_for('static', filename='assets/icons/search.svg') }}"></button>
          </form>

          <div id="nav-icons">
            {% if not current_user.is_authenticated %}
              <img id="profile-button" class="icon clickable" src="{{ url_for('static', filename='assets/icons/user.svg') }}">
            {% else %}
              <a href="{{ url_for('profile') }}"><img class="icon clickable" src="{{ url_for('static', filename='assets/icons/user-filled.svg') }}"></a>
            {% endif %}
            <a href="{{ url_for('shopping_cart') }}"><img class="icon" src="{{ url_for('static', filename='assets/icons/shoppingcart.svg') }}"></a>
          </div>
        </div>
      </header>

      {% if current_user.is_authenticated and (current_user.userType == 'Admin') %}
        {% include "admin/admin_utilities.html" %}
      {% endif %}

      <main>
        {% block content %}{% endblock %}
      </main>

  <footer>
   <div>
        <ul class="footer-column">
          <li class="main-logo"><h1>Bookmarqué</h1></li>
          <li>Luxury Literature.</li>
        </ul>

        <ul class="footer-column">
          <li><b>Explore</b></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Manage Profile</a></li>
        </ul>

        <ul class="footer-column">
          <li><b>Visit</b></li>
          <li>2404 West View Ct., Suite 111</li>
          <li>Athens, Ga, USA 30601</li>
        </ul>

        <ul class="footer-column">
          <li><b>Contact</b></li>
          <li>202.555.0079</li>
          <li>help@bookmarque.co</li>
        </ul>
    </div>

    <span id="copyright">&copy 2021 Bookmarque. All Rights Reserved.</span>

  </footer>
</body>
</html>

<div id="overlay">{% include "login/login_popup.html" %}</div>
