{% extends "user_layout.html" %}
{% block content %}
<div class="center">
  <h1>Edit Profile</h1>
  <div class="profile-format">
    <label class="profile-label">First Name <span class="profile-asterisks">*</span></label>
    <div class="edit-fields">
      <input type="text">
    </div>
    <label class="profile-label">Address</label>
    <div class="edit-fields">
      <input type="text">
    </div>
    <label class="profile-label">Last Name <span class="profile-asterisks">*</span></label>
    <div class="edit-fields">
      <input type="text">
    </div>
    <label class="profile-label">City</label>
    <div class="edit-fields">
      <input type="text">
    </div>
    <label class="profile-label">Phone Number (XXX) XXX-XXXX <span class="profile-asterisks">*</span></label>
     <div class="edit-fields">
      <input type="text">
    </div>
    <label class="profile-label">State</label>
     <div class="edit-fields">
      <input type="text">
    </div>
    <label class="profile-label">Promotion Subscription</label>
    <div class="promo-box">
    <select>
      <option>Deactive</option>
      <option>Active</option>
    </select>
    </div>
    <label class="profile-label">Zip Code</label>
    <div class="edit-fields">
      <input type="text">
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="profile-submit">
    <span class="profile-required">*Required</span><br>
    <a class="button-blue-adjusted" href="/profile">Save Changes</a>
  </div>
</div>
{% endblock %}
       

