{% extends "default_layout.html" %}
{% block content %}

<div id="home-banner">
  <img src="{{ url_for('static', filename='assets/home-banner.jpeg') }}" alt="Rustic Bookstore">
  <div id="summary-banner">
    <h1>Reading Reimagined</h1>
    <h3>from cover to cover.</h3>
    <p>The simplest way to shop for quality books. Curated by our experts so you can focus on relaxing.</p>
    <a class="button-blue" href="{{ url_for('search') }}">Shop Books</a>
  </div>
</div>

<div id="featured">
  <h1>Featured</h1>
  <span>The place we keep everything you shouldn't miss out on.</span>

  <div class = "frow">
    <div class = "fcardrow">
      {% for item in featured %}
      <div class = "fcard">
        <a href="{{ url_for('book_details', ISBN=item[0] ) }}">
        <img src="{{ url_for('static', filename='assets/covers/'+  item[4]  ) }}" alt="cheffe"/>
        <p> {{ item[1] }} </p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  <h1>Newly Released</h1>
  <span>You can find all of your new favorites here.</span>

  <div class = "frow">
    <div class = "fcardrow">
      {% for item in newly_released%}
      <div class = "fcard">
        <a href="{{ url_for('book_details', ISBN=item[0]) }}">
        <img src="{{ url_for('static', filename='assets/covers/'+  item[4]  ) }}" alt="cheffe"/>
        <p> {{ item[1] }} </p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>
</div>

{% endblock %}

<!--
<div class = "fcard">
  <a href="{{ url_for('book_details') }}">
  <img src="{{ url_for('static', filename='assets/covers/all we saw.jpg') }}" alt="cheffe"/>
  <p> All We Saw </p>
  </a>
</div>
<div class = "fcard">
  <a href="{{ url_for('book_details') }}">
  <img src="{{ url_for('static', filename='assets/covers/black hole blues.jpg') }}" alt="cheffe"/>
  <p> Black Hole Blues</p>
  </a>
</div>
<div class = "fcard">
  <a href="{{ url_for('book_details') }}">
  <img src="{{ url_for('static', filename='assets/covers/cheffe.jpg') }}" alt="cheffe"/>
  <p> The Cheffe</p>
  </a>
</div>
<div class = "fcard">
  <a href="{{ url_for('book_details') }}">
  <img src="{{ url_for('static', filename='assets/covers/inevitable victorian thing.jpg') }}" alt="cheffe"/>
  <p> That Inevitable Victorian Thing</p>
  </a>
</div>
-->