<div class="popup-panel">
  <h1 class="main-logo">Bookmarqué</h1>

<!--- Login Form --->
  <form action="{{ url_for('login') }}" method="POST" id="tab-0" class="popup-tab">

      <strong class="close-popup-button clickable">x</strong>

      <h1>Login</h1>

      <label>Email or Customer ID #</label>
      <input type="email" name="email">
      <label>Password</label>
      <input type="password" name="password">
      <input class="button-blue" type="submit" value="Login">

      <span><input type="checkbox">Keep me signed in</span>

    <span class="center">-- or --</span>
    <a id="registration-button" class="button-gold">Create a new account</a>
  </form>

<!--- Registration Form --->
  <form action="{{ url_for('register_user') }}" method="POST" id="registration">
    <input type="hidden" name="next" value="{{ request.path }}">

    <div id="tab-1" class="popup-tab">
      <h1>Create Account</h1>

      <label>First Name</label>
      <input type="text" name="fName">
      <label>Last Name</label>
      <input type="text" name="lName">
      <label>Phone Number</label>
      <input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
      placeholder="XXX-XXX-XXXX" minlength="10" maxlength="14">
      <label>Email Address</label>
      <input type="email" name="email">
      <label>Password</label>
      <input type="password" name="password">
      <span>Note: Password must be at least 8 characters long and contain both letters and numbers.</span>

      <a class="continue-registration-button button-gold">Continue</a>
    </div>

    <div id="tab-2" class="popup-tab">
      <h1>Payment Info</h1>

      <label>Card Type</label>
      <input type="text" name="cardType">
      <label>Card Number</label>
      <input type="text" name="cardNumber">
      <label>Expiration Date</label>
      <div id="card-details">
        <select name="expMonth">
          <option>MM</option>
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
          <option>06</option>
          <option>07</option>
          <option>08</option>
          <option>09</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
        <input type="number" name="expYear">
        <input type="text" name="svc" placeholder="SVC">
      </div>

      <input type="hidden" id="payment-skipped" name="payment-skipped" value="false">
      <a class="skip button-blue">Skip for now</a>
      <a class="continue-registration-button button-gold">Save</a>
    </div>

    <div id="tab-3" class="popup-tab">
      <h1>Shipping</h1>

      <label>Address</label>
      <input type="text" name="address">
      <label>City</label>
      <input type="text" name="city">
      <label>State</label>
      <input type="text" name="state">
      <label>Zip Code</label>
      <input type="text" name="zip">

      <input type="hidden" id="shipping-skipped" name="shipping-skipped" value="false">
      <a class="skip button-blue">Skip for now</a>
      <a class="continue-registration-button button-gold">Save</a>
    </div>

    <div id="tab-4" class="popup-tab">
      <h1>Verification</h1>
      <p>You’re all set up! Please verify your email to activate your account by clicking the link in your inbox.</p>
      <p>If you don’t see a message from us, please check your junk folder. It may take a few moments.</p>
      <p>We look forward to helping you find your next perfect read!</p>

      <button type="submit" value="Send verification email" class="close-popup-button button-blue">
    </div>
  </form>
</div>
