<div class="popup-panel">
  <h1 class="main-logo">Bookmarqué</h1>

  <form id="tab-0" class="popup-tab">

      <h1>Login</h1>

      <label>Email or Customer ID #</label>
      <input type="text">
      <label>Password</label>
      <input type="text">
      <input class="button-blue" type="submit" value="Login">

      <span><input type="checkbox">Keep me signed in</span>

    <span class="center">-- or --</span>
    <a id="registration-button" class="button-gold">Create a new account</a>
  </form>

<!--- Registration Form --->
  <form id="registration">

    <div id="tab-1" class="popup-tab">
      <h1>Create Account</h1>

      <label>First Name</label>
      <input type="text">
      <label>Last Name</label>
      <input type="text">
      <label>Phone Number (xxx) xxx-xxxx</label>
      <input type="text">
      <label>Email Address</label>
      <input type="text">
      <label>Password</label>
      <input type="text">
      <span>Note: Password must be at least 8 characters long and contain both letters and numbers.</span>

      <a class="continue-registration-button button-gold"">Continue</a>
    </div>

    <div id="tab-2" class="popup-tab">
      <h1>Payment Info</h1>

      <label>Card Type</label>
      <input type="text">
      <label>Card Number</label>
      <input type="text">
      <label>Expiration Date</label>
      <div id="card-details">
        <select>
          <option>MM</option>
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
          <option>06</option>
          <option>07</option>
          <option>08</option>
          <option>09</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
        <input type="number">
        <input type="text" placeholder="SVC">
      </div>

      <a class="continue-registration-button button-blue">Skip for now</a>
    </div>

    <div id="tab-3" class="popup-tab">
      <h1>Shipping</h1>

      <label>Address</label>
      <input type="text">
      <label>City</label>
      <input type="text">
      <label>State</label>
      <input type="text">
      <label>Zip Code</label>
      <input type="text">

      <a class="button-blue">Skip for now</a>
    </div>

    <div id="tab-4" class="popup-tab">
      <h1>Verficiation Sent</h1>
      <p>You’re all set up! Please verify your email to activate your account by clicking the link in your inbox.</p>
      <p>If you don’t see a message from us, please check your junk folder.</p>
      <p>We look forward to helping you find your next perfect read!</p>

      <a class="close-login-registration button-blue">Continue shopping</a>
    </div>
  </form>
</div>
