{% include "index.html" %}

<div class="overlay">
  <form class="popup-panel">
    <h1 class="main-logo">Bookmarqué</h1>
    <h1>Login</h1>

    <label>Email or Customer ID #</label>
    <input type="text">
    <label>Password</label>
    <input type="text">
    <input class="button-blue" type="submit" value="Login">

    <span><input type="checkbox">Keep me signed in</span>

    <span class="center">-- or --</span>
    <a class="button-gold" href="{{ url_for('reg1') }}">Create a new account</a>
  </form>
</div>
