{% extends "user_layout.html" %}
{% block content %}
<div id="menu-bar" style="background-color:#c4c4c4; justify-content: center;">
  <ul id="nav-bar" style="width: 90%; margin-right: 5%; margin-left: 5%; display: flex; justify-content: space-between;">
    <li><a href="#">Manage Users</a></li>
    <li><a href="#">Manage Orders</a></li>
    <li><a href="#">Toggle User/Admin View</a></li>
  </ul>
</div>

<div style="margin: 3%; width:96%; display: flex; justify-content: flex-end; align-items: flex-end;">
  <label for="fname">Search:</label>
  <input type="text" id="fname" name="fname">
</div>

<div>
  <form action="{{ url_for('managePromotions') }}" method="POST">
  <table>
    <tr>
      <th>Name</th>
      <th>Percentage</th>
      <th>Start Date</th>
      <th>Expiration Date</th>
      <th>Emailed to Customers</th>
      <th>Times Used</th>
    </tr>
    {% for item in promotions %}
    <tr>
      <td>{{item[6]}}</td>
      <td>{{item[1]}}</td>
      <td>{{item[2]}}</td>
      <td>{{item[3]}}</td>
      <td>{{item[4]}}</td>
      <td>{{item[5]}}</td>
    </tr>
    {% endfor %}
    
    <tr>
      <td><input name="name" type="text" placeholder="Name here"></input></td>
      <td><input name="discount" type="number" placeholder="25% off = 0.25" step="0.01" min="0" max="1"></input></td>
      <td><input name="start" type="date" placeholder="YYYY-MM-DD"></input></td>
      <td><input name="end" type="date" placeholder="YYYY-MM-DD"></input></td>
      <td><input type="submit" value="Add Promo Code"></input></td>
    </tr>
    
  </table>
  </form>
</div>

<input id="edit_promo_codes" type="button" value="Edit Promo Codes"></input>
{% endblock %}
