{% extends "user_layout.html" %}
{% block content %}
<div class="center">
  <h1>My Profile</h1>
  <div class="profile-format">
    <label class="profile-label">First Name <span class="profile-asterisks">*</span></label>
    <span>John</span>
    <label class="profile-label">Address</label>
    <span>1234 Generic Rd<br>Athens, GA 30605</span>
    <label class="profile-label">Last Name <span class="profile-asterisks">*</span></label>
    <span>Doe</span>
    <div>
      <label class="profile-label">Card Information</label>
      <br><span class="profile-links"><a href="/profile/update-card">+ Add New Card</a></span>
      <br><span class="profile-links"><a href="/profile/update-card">Edit Card</a></span>
    </div>
    <span>Mastercard
      <br>**** **** **** 1234
      <br>Expires on 01/22
      <br><span class="profile-links"><a href="">Change Card</a></span>
    </span>
    <label class="profile-label">Phone Number (XXX) XXX-XXXX <span class="profile-asterisks">*</span></label>
    <span>(123) 456-7890</span>
    <div>
      <label class="profile-label">Password <span class="profile-asterisks">*</span></label>
      <br><span class="profile-links"><a href="/profile/update-password">Update Password</a></span>
    </div>
    <span>***********
      <br><span class="profile-links"><a href="">Display Password</a></span>
    </span>
    <label class="profile-label">Email Address <span class="profile-asterisks">*</span></label>
    <span>johndoe@generic.com</span>
    <label class="profile-label">Promotion Subscription</label>
    <span>Active</span>
  </div>
  <div class="profile-submit">
    <span class="profile-required">*Required</span><br>
    <a class="button-blue-adjusted" href="/profile/edit">Update Profile</a>
  </div>
</div>
{% endblock %}
       

