{% extends "user_layout.html" %}
{% block content %}

<form class="popup-panel">
  <h1 class="main-logo">Bookmarqué</h2>
  <h1>Payment Info</h1>

  <label>Card Type</label>
  <input type="text">
  <label>Card Number</label>
  <input type="text">
  <label>Expiration Date</label>
  <div id="card-details">
    <select>
      <option>MM</option>
      <option>01</option>
      <option>02</option>
      <option>03</option>
      <option>04</option>
      <option>05</option>
      <option>06</option>
      <option>07</option>
      <option>08</option>
      <option>09</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
    </select>
    <input type="number">
    <input type="text" placeholder="SVC">
  </div>

  <a class="button-blue" href="{{ url_for('reg3') }}">Skip for now</a>

</form>

{% endblock %}
