{% extends "user_layout.html" %}
{% block content %}

<div class="popup-panel">
  <h1 class="main-logo">Bookmarqué</h1>
  <h1>Verficiation Sent</h1>
  <p>You’re all set up! Please verify your email to activate your account by clicking the link in your inbox.</p>
  <p>If you don’t see a message from us, please check your junk folder.</p>
  <p>We look forward to helping you find your next perfect read!</p>

  <a class="button-blue" href="{{ url_for('homepage') }}">Continue shopping</a>
</div>

{% endblock %}
