{% include "index.html" %}

<div class="popup-overlay">
  <form class="popup-plane" action="/reset-password/{{ email_encrypted }}" method="POST">
    <h1 class="main-logo">Bookmarqué</h1>
    <h1>Reset Password</h1>
    <label>Password</label>
    <input type="password" name="password" id="passwordReset">
    <label>Confirm Password</label>
    <input class="password-req" type="password" name="passConfirm" id="passConfirm">
    <div class="submit-options">
      <button class="button-grey" name="Cancel" type="submit">Cancel</button>
      <button id="reset-password-button" class="button-blue" name="Save" type="submit">Save</button>
    </div>
    <span>Note: Password must be at least 8 characters long and contain both letters and numbers.</span>
  </form>
</div>
