{% include "profile.html" %}

<div class="overlay">
  <form class="popup-panel">
    <h1 class="main-logo">Bookmarqué</h1>
    <h1>Update Password</h1>
    <label>Password</label>
    <input type="password">
    <label>Confirm Password</label>
    <input class="password-req" type="password">
    <div class="submit-options">
      <a class="button-grey" href="/profile">Cancel</a>
      <a class="button-blue" href="/profile">Save</a>
    </div>
    <span>Note: Password must be at least 8 characters long and contain both letters and numbers.</span>
  </form>
</div>
