{% include "profile.html" %}

<div class="popup-overlay">
  <form id="cForm" class="popup-plane" action="/profile" method="POST">
    <h1 class="main-logo">Bookmarqué</h1>
    <h1>Card Information</h1>

    <label>Card Type</label>
    <select form="cForm" name="cardList">
      <option value="">Card Type</option>
      <option value="American Express">American Express</option>
      <option value="Discover">Discover</option>
      <option value="MasterCard">MasterCard</option>
      <option value="Visa">Visa</option>
    </select>
    <label>Card Number</label>
    <input type="text" name="cardNumber">
    <label>Expiration Date</label>
    <div class="card-details-edit">
      <select form="cForm" name="monthList">
	<option value="">Month</option>
	<option value="01">01</option>
	<option value="02">02</option>
	<option value="03">03</option>
	<option value="04">04</option>
	<option value="05">05</option>
	<option value="06">06</option>
	<option value="07">07</option>
	<option value="08">08</option>
	<option value="09">09</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
      </select>
      <select form="cForm" name="yearList">
	<option value="">Year</option>
	<option value="2021">2021</option>
	<option value="2022">2022</option>
	<option value="2023">2023</option>
	<option value="2024">2024</option>
	<option value="2025">2025</option>
	<option value="2026">2026</option>
	<option value="2027">2027</option>
	<option value="2028">2028</option>
	<option value="2029">2029</option>
	<option value="2030">2030</option>
      </select>
      <input type="text" placeholder="SVC" name="SVC">
    </div>
    <div class="submit-options">
      <input type="submit" class="button-grey" name="exitCard" value="Exit">
      <input type="submit" class="button-blue" name="createCard" value="Confirm">
    </div>
  </form>
</div>
