{% extends "default_layout.html" %}
{% block content %}
<div class="center">
  <h1>
    My Profile
    <a href="{{ url_for('edit_profile') }}"><img id="edit-gear" src="{{ url_for('static', filename='assets/icons/gear.svg') }}"></a>
  </h1>
  <div class="profile-format">
    <label class="profile-label">First Name <span class="profile-asterisks">*</span></label>
    <span>{{ current_user.userFName }}</span>
    <label class="profile-label">Address</label>
    <span>
    {% if current_user.address %}
      {{ current_user.address.addressStreet }}<br>{{ current_user.address.addressCity }}, {{ current_user.address.addressState }} {{ current_user.address.addressZip }}
    {% endif %}
    </span>
    <label class="profile-label">Last Name <span class="profile-asterisks">*</span></label>
    <span>{{ current_user.userLName }}</span>

    <!-- form for choosing the current payment card  -->
    <form action="/profile/update-card" method="POST">
      <div>
        <label class="profile-label">Card Information</label><br>
        <select id="card-selector" style="width: 50%;" name="cardOptions" onchange="changeCard()">
            <option disabled="true">- Select Card -</option>
            {% for card in current_user.cards %}
              <option value="{{ card.cardID }}">{{ card.cardType.value }}</option>
            {% endfor %}
        </select>

        {% if cards|length < 3 %}<br><span class="profile-links"><a href="/profile/create-card">+ Add New Card</a></span>{% endif %}
        <br><input class="profile-link-imitation" type="submit" value="Edit Card">
      </div>
    </form>
    {% if current_user.cards %}
      {% for card in current_user.cards %}
        {% if (loop.index == 1) %}
          <span class="card-information" id="{{ card.cardID }}" style="display: block">
        {% else %}
          <span class="card-information" id="{{ card.cardID }}" style="display: none">
        {% endif %}
        <p>{{ card.cardType.value }}</p>
        <p>{{ card.cardNumber }}</p>
        <p>Expires on {{ card.cardExpDate.month ~ "/" ~ card.cardExpDate.year }}</p>
      </span>
      {% endfor %}
      {% else %}
        <span>No payment in system</span>
      {% endif %}
    <!--</span>-->
    <label class="profile-label">Phone Number (XXX) XXX-XXXX <span class="profile-asterisks">*</span></label>
    <span>{{ current_user.userPhone }}</span>
    <div>
      <label class="profile-label">Password <span class="profile-asterisks">*</span></label>
      <br><span class="profile-links"><a href="/profile/update-password">Update Password</a></span>
    </div>
    <span>
      <span id="password-visible" style="display: none">{{ current_user.password }}</span>
      <span id="password-hidden">•••••••••••</span>
      <br><span class="profile-links clickable" id="toggle-password" onclick="togglePassword()" style="color: blue; text-decoration: underline;">Display Password</span>
    </span>
    <label class="profile-label">Email Address <span class="profile-asterisks">*</span></label>
    <span>{{ current_user.userEmail }}</span>
    <label class="profile-label">Promotion Subscription</label>
    <span>{{ current_user.userSubStatus }}</span>
  </div>
  <div class="profile-submit">
    <span class="profile-required">*Required</span><br>
  </div>

  <a href="{{ url_for('logout') }}" class="button-gold">Logout</a>

</div>
{% endblock %}
