{% extends "default_layout.html" %}
{% block content %}
<div class="center">
  <h1>My Profile</h1>
  <div class="profile-format">
    <label class="profile-label">First Name <span class="profile-asterisks">*</span></label>
    <span>{{ current_user.userFName }}</span>
    <label class="profile-label">Address</label>
    <span>{{ current_user.address.addressStreet }}<br>{{ current_user.address.addressCity}}, {{ current_user.address.addressState }} {{ current_user.address.addressZip }}</span>
    <label class="profile-label">Last Name <span class="profile-asterisks">*</span></label>
    <span>{{ current_user.userLName }}</span>
    <div>
      <label class="profile-label">Card Information</label><br>
      <select id="card-selector" onchange="changeCard()">
          <option disabled="true">- Select Card -</option>
          {% for card in current_user.cards %}
            <option value="{{ card.cardID }}">{{ card.cardType }}</option>
          {% endfor %}
      </select>

      <br><span class="profile-links"><a href="/profile/create-card">+ Add New Card</a></span>
      <br><span class="profile-links"><a href="/profile/update-card">Edit Card</a></span>
    </div>

    {% if current_user.cards %}
      {% for card in current_user.cards %}
      {% if (loop.index == 1) %}
        <span class="card-information" id="{{ card.cardID }}" style="display: block">
      {% else %}
        <span class="card-information" id="{{ card.cardID }}" style="display: none">
      {% endif %}
          <p>{{ card.cardType }}</p>
          <p>{{ card.cardNumber }}</p>
          <p>Expires on {{ card.cardExpDate.month ~ "/" ~ card.cardExpDate.year }}</p>
        </span>
      {% endfor %}
    {% else %}
      <span>No payment in system</span>
    {% endif %}

    <label class="profile-label">Phone Number (XXX) XXX-XXXX <span class="profile-asterisks">*</span></label>
    <span>{{ current_user.userPhone }}</span>
    <div>
      <label class="profile-label">Password <span class="profile-asterisks">*</span></label>
      <br><span class="profile-links"><a href="/profile/update-password">Update Password</a></span>
    </div>
    <span id="password">{{ current_user.userPassword }}
      <br><span class="profile-links"><a href="">Display Password</a></span>
    </span>
    <label class="profile-label">Email Address <span class="profile-asterisks">*</span></label>
    <span>{{ current_user.userEmail }}</span>
    <label class="profile-label">Promotion Subscription</label>
    <span>{{ current_user.userSubStatus }}</span>
  </div>
  <div class="profile-submit">
    <span class="profile-required">*Required</span><br>
    <a class="button-blue-adjusted" href="/profile/edit">Update Profile</a>
  </div>

  <a href="{{ url_for('logout') }}" class="button-gold">Logout</a>

</div>
{% endblock %}
