{% extends "default_layout.html" %}
{% block content %}
<div class="center">
  <h1>
    My Profile
    <a href="{{ url_for('edit_profile') }}"><img id="edit-gear" src="{{ url_for('static', filename='assets/icons/gear.svg') }}"></a>
  </h1>
  <div class="profile-format">
    <label class="profile-label">First Name <span class="profile-asterisks">*</span></label>
    <span>{{ details[2] }}</span>
    <label class="profile-label">Address</label>
    <span>{{ add[0] }}<br>{{ add[1] }}, {{ add[2] }} {{ add[3] }}</span>
    <label class="profile-label">Last Name <span class="profile-asterisks">*</span></label>
    <span>{{ details[3] }}</span>
    <form action="/profile/update-card" method="POST">
    <div>
      <label class="profile-label">Card Information</label><br>
      <select form="cardOptions" id="card-selector" style="width: 50%;" name="cardOptions" onchange="changeCard()">
          <option disabled="true">- Select Card -</option>
          {% for card in cards %}
            <option value="{{ card[0] }}">{{ card[3] }}</option>
          {% endfor %}
        </select>

      <br><span class="profile-links"><a href="/profile/create-card">+ Add New Card</a></span>
      <br><input class="profile-link-imitation" type="submit" value="Edit Card">
    </div>
    </form>
    {% if cards[0] %}
      {% for card in cards %}
        {% if (loop.index == 1) %}
          <span class="card-information" id="{{ card[0] }}" style="display: block">
        {% else %}
          <span class="card-information" id="{{ card[0] }}" style="display: none">
        {% endif %}
        <p>{{ card[3] }}</p>
        <p>{{ card[1] }}</p>
        <p>Expires on {{ card[2].month ~ "/" ~ card[2].year }}</p>
      </span>
      {% endfor %}
      {% else %}
        <span>No payment in system</span>
      {% endif %}
    <!--</span>-->
    <label class="profile-label">Phone Number (XXX) XXX-XXXX <span class="profile-asterisks">*</span></label>
    <span>{{ details[7] }}</span>
    <div>
      <label class="profile-label">Password <span class="profile-asterisks">*</span></label>
      <br><span class="profile-links"><a href="/profile/update-password">Update Password</a></span>
    </div>
    <span>{{ details[6] }}
      <br><span class="profile-links"><a href="">Display Password</a></span>
    </span>
    <label class="profile-label">Email Address <span class="profile-asterisks">*</span></label>
    <span>{{ details[1] }}</span>
    <label class="profile-label">Promotion Subscription</label>
    <span>{{ details[8] }}</span>
  </div>
  <div class="profile-submit">
    <span class="profile-required">*Required</span><br>
  </div>

  <a href="{{ url_for('logout') }}" class="button-gold">Logout</a>

</div>
{% endblock %}
