{% include "profile/profile.html" %}

<div class="popup-overlay">
  <form class="popup-plane" action="{{ url_for('update_password') }}" method="POST">
    <h1 class="main-logo">Bookmarqué</h1>
    <h1>Update Password</h1>
    <label>Password</label>
    <input type="password" name="password">
    <label>Confirm Password</label>
    <input class="password-req" type="password" name="passConfirm">
    <div class="submit-options">
      <input class="button-grey" name="Cancel" type="submit" value="Cancel">
      <input class="button-blue" name="Save" type="submit" value="Save">
    </div>
    <span>Note: Password must be at least 8 characters long and contain both letters and numbers.</span>
  </form>
</div>
