{% extends "default_layout.html" %}
{% block content %}

<div id="book-listing">
  <div id="cover">
    <span class="circle"></span>
    <img src="{{ url_for('static', filename='assets/covers/' + book.bookImage) }}" alt="{{ book.bookTitle }}"/>
  </div>
  <div id="book-details">
    <h1>{{ book.bookTitle }} </h1>
    <h3>{{ book.authorFName }} {{ book.authorLName }}</h3>
    <p>{{ book.bookPublisher }}</p>
    <p><i>
    {% for tag in book.categories %}
      {{ tag.categoryName }}
      {% if not loop.last %}, {% endif %}
    {% endfor %}
    </i></p>

    <div class="star-rating">
    {% for i in range(book.bookRating) %}
    ★
    {% endfor %}
    {% for i in range(5 - book.bookRating) %}
    ☆
    {% endfor %}
    </div>
  </div>
  <div id="book-add-box">
    <form class="quant-button" method="POST">
      <input class="button-blue" type="submit" name="addCart" value="Add to Cart">
      <input type="number" name="addCartAmount" placeholder="1" value="1" min="1">
    </form>
    <h1>{{ book.bookPrice }} USD</h1>
    <span>In Stock</span>
    <!-- <span> data[6] left </span>-->
  </div>
</div>

<div id="book-summary">
  <p>
    {{ book.bookDescription }}
  </p>
</div>

{% endblock %}
