{% extends "default_layout.html" %}
{% block content %}

<!-- Search Bar -->
<div class = "search-container">
    <form class="full-search-bar">
      <select>
        <option>All</option>
        <option>ISBN</option>
        <option>Title</option>
        <option>Author</option>
        <option>Genre</option>
      </select>
      <input type="text" placeholder="What are you looking for? Search by Name, Author, Subject, & ISBN.">
      <button type="submit"><img src="{{ url_for('static', filename='assets/icons/search.svg') }}"></button>
    </form>
</div>

<!-- Filters -->
<div class = 'left-container'>
  <form id="search-filters">
    <fieldset>
      <legend>Category</legend>
      <input type ="checkbox">
      <label>Featured</label><br>
      <input type ="checkbox">
      <label>Classics</label><br>
      <input type ="checkbox">
      <label>Thrillers</label><br>
      <input type ="checkbox">
      <label>Science</label><br>
      <input type ="checkbox">
      <label>Esoteric</label><br>
      <input type ="checkbox">
      <label>Business</label><br>
      <input type ="checkbox">
      <label>Self-Help</label><br>
      <input type ="checkbox">
      <label>Non-Fiction</label><br>
      <input type ="checkbox">
      <label>Sci-Fi</label><br>
    </fieldset>
    <fieldset>
      <legend>Price</legend>
      <input type="text" id="priceMin" placeholder="min" name="priceMin" require> - <input type="text" id="priceMax" placeholder="max" name="priceMax" require>
    </fieldset>
    <fieldset>
      <legend>Rating</legend>
      <input type="range" min="1" max="5">
    </fieldset>
    <fieldset>
      <legend>Misc.</legend>
      <input type="checkbox"><label>In Stock</label>
    </fieldset>
  </form>
  </div>

<!-- Results Display -->
<div class='search-result-display'>
{% for book in search_results %}
    <div class = "search-card">
        <a href="{{ url_for('book_details', ISBN=book.ISBN)}}">
            {% if book.bookImage %}
              <img src="{{ url_for('static', filename='assets/covers/' + book.bookImage) }}" alt="{{ book.bookTitle }}">
            {% else %}
              <img src="{{ url_for('static', filename='assets/covers/placeholder-cover.jpg') }}" alt="{{ book.bookTitle }}">
            {% endif %}
            <h2 class="title">{{ book.bookTitle }}</h2>
            <p class ="author">{{ book.authorFName ~ " " ~ book.authorLName }}</p>
            <div class="star-rating">
              {% for i in range(book.bookRating) %}
                ★
              {% endfor %}
              {% for i in range(5 - book.bookRating) %}
                ☆
              {% endfor %}
            </div>
            <p class = "stock">{% if book.bookQuantity > 0 %} In Stock {% else %} Out of Stock {% endif %}</p>
            <h2 class ="price">{{ book.bookPrice }} USD</h2>
            <div class = "tags">
              <p> Tags: </p>
              {% for tag in book.categories %}
                {{ tag.categoryName }}
                {% if not loop.last %}, {% endif %}
              {% endfor %}
            </div>
        </a>
    </div>
{% endfor %}
</div>
{% endblock %}
