/* color pallete */
$blue: #15253B;
$gold: #F4CE92;
$dark-blue: #1A1D24;
$dark-gold: #B6622D;

/* font families */
$font-serif: 'Crimson Text', serif;
$font-sans: 'Open Sans', sans-serif;
$font-title: 'Bebas Neue', cursive;

html, body {
    /*min-width: 1080px;*/
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: auto;
}

/* header */
header {
    background-color: white;
    width: 100%;
}

#promo_bar {
    background-color: $blue;
    font-family: $font-sans;
    font-weight: bold;
    letter-spacing: .2rem;
    color: white;

    text-align: center;
}

#menu_bar {
  display: flex;
  align-items: center;

  /* Remove the next line if you want the span to appear next to the h1 */
  justify-content: space-between;
}

.main_logo {
    font-family: $font-title;
    padding: 0;
    margin: 0;
}

#nav_bar {
    font-family: $font-serif;
    list-style: none;
}

#nav_bar li {
  float: left;
}

.icon {
  width: 2rem;
  height: 2rem;
}

/* footer */
footer {
    background-color: $blue;
    font-family: $font-sans;
    color: white;

    flex: none;
}

footer div {
    column-count: 4;
}

.footer_column {
    list-style: none;
}
