/* color pallete */
$blue: #15253B;
$gold: #F4CE92;
$dark-blue: #1A1D24;
$dark-gold: #B6622D;

/* font families */
$font-serif: 'Crimson Text', serif;
$font-sans: 'Open Sans', sans-serif;
$font-title: 'Bebas Neue', cursive;

html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: auto;
}

/* header */
header {
    background-color: white;
    width: 100%;
}

#promo_bar {
    background-color: $blue;
    font-family: $font-sans;
    font-weight: bold;
    font-size: .8rem;
    letter-spacing: .15rem;
    color: white;

    padding: .5rem 0 .5rem 0;

    text-align: center;
}

#menu_bar {
  display: flex;
  align-items: center;
}

.main_logo {
    font-family: $font-title;
    padding: 0;
    margin: 0;
}

#nav_bar {
    font-family: $font-serif;
    list-style: none;
}

#nav_bar li {
  padding-right: 1rem;
  float: left;
}

#nav_bar a, #nav_bar a:visited {
  color: black;
  text-decoration: none;
}

#nav_bar a:hover {
  color: $gold;
  text-decoration: underline;
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
}

/* footer */
footer {
    background-color: $blue;
    font-family: $font-sans;
    color: white;

    flex: none;
}

footer div {
    column-count: 4;
    padding: 2rem 0 2rem 0;
    width: 75vw;
}

.footer_column {
    list-style: none;
}

.footer_column li {
  padding-bottom: .25rem;
}

.footer_column a , .footer_column a:visited {
  color: white;
  text-decoration: none;
}

.footer_column a:hover {
  text-decoration: underline;
}
